* {
    user-select: none;
    font-size: 0;
}

body {
    background-color: beige;
}

#button {
    font-size: 20px;
}

#control-panel {
    float: left;
    border: 1px solid #0b2e13;
    height: 500px;
    padding: 30px;
    margin-left: 150px;
}

#chess-board {
    float: left;

    display: inline-block;
}

#float-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}

.white-field {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-color: #eeeed2;
    display: inline-block;
    padding: 5px;
}

.black-field {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-color: #769656;
    display: inline-block;
    padding: 5px;

}

.pawn {
    pointer-events: none;
    max-width: 110%;
    max-height: 110%;
    display: block;
    margin: auto auto;
    margin-top: -5%;
    margin-left: -5%;
}
